{% extends "layout.html" %}
{% block content %}

    <h1>About Page</h1>
    <hr>
    <p>Generative Adversarial Networks or GANs have become extremely popular in a short span of time and that too for all the valid reasons. From data augmentation to style transfer to image superresolution to other image to image translation tasks, you can find GANs everywhere. <b>Everything GANs!</b></p>
    <p>As the name suggests GANs are nothing both Generative models and were popularised by Ian Goodfellow in the year 2014. A GAN model architecture consists of a generator model and a discriminator model which compete against one another. </p>
    <p>In this project, I have implemented a few popular GAN architectures for various image translation tasks
    <li>Pix2Pix Model for Image Deraining</li>
    <li>CycleGAN Architecture for Animate Me</li>
    <li>SRGAN Architecture for Image Superresolution</li>
    </p>
    <h3>Enjoy a Deep Learning World where Everything is created using GANs. Everything GANs!</h3>
{% endblock content %}
